<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/about.css">
    </head>
    <body>
        <nav class="navbar v-nav">
            <div class="logo">
                <img src="../static/mirror1.v.jpg" alt="logo">
            </div>
            <ul class="v-class h-class">
            <li> <a href="/index">Home</a> </li>
            <li> <a href="/about">About</a> </li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        </nav>

    <div class="cad">
<div class="conten">

    <h2>Card Title</h2>
    <p>Some text or other content goes here</p>
</div>
  <div class="buttns">
    <button id="prev-btn">Previous</button>
    <button id="next-btn">Next</button>
  </div>
</div>

       
        <script src="../static/script.js" async defer></script>
        <script src="../static/index.js" async defer></script>
</body>
</html>

