<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <nav class="navbar v-nav">
            <div class="logo">
                <img src="../static/mirror1.v.jpg" alt="logo">
            </div>
            <ul class="v-class h-class">
            <li> <a href="/index">Home</a> </li>
            <li> <a href="/about">About</a> </li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        </nav>
        <div class="content">
            <div class="MySection">
             <span class="greet">  </span>
             <span class="name"> <h3>Hi, I am Vikash Mishra</h3> </span>
             <span class="skills">Developer</span>
            </div>
            <div class="buttons">
                <button class="btn"> <a href="/contact.pug">Contact Me</a></button>
                <button class="btn"> Know About Me</button>
            </div>
        </div>
       
        
        <script src="../static/script.js" async defer></script>
    </body>
</html>